<!DOCTYPE html>

<html lang="en">
<head>
    <title>Using TypeScript Classes</title>
</head>
<body>
    <h1>Bank Accounts</h1>
    <br />
    <h4>Checking Balance</h4> 
    <h4 id="checking"></h4>
    <button id="starCheckButton" (click)="checking()">Checking</button> &nbsp;&nbsp;
    <button *ngIf="checkingClicked" id="cancelCheckButton" (click)="cancelChecking()">Cancel Checking</button>
    <br />
    <h4>Savings Balance</h4>
    <h4 id="savings"><div *ngIf="checkingClicked"><h4>${{balance}}</h4></div> </h4>
    <br />
</body>
</html>