<html>
<head>
    <meta charset="utf-8" />
    <title>TypeScript Demos</title>
    <link rel="stylesheet" routerLink="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" />
    <style type="text/css">
        body {
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>TypeScript Examples</h1>
    <br />
    <ul>
        <li><a routerLink="/basic-types">Basic Types</a></li>
        <li><a routerLink="/parameter-types">Parameter Types</a></li>
        <li><a routerLink="/optional-default-parameters">Optional/Default Parameters</a></li>
        <li><a routerLink="/unions-aliases-const-enums">Unions, Aliases, Const Enums</a></li>
        <li><a routerLink="/classes">Classes</a></li>
        <li><a routerLink="/class-extension">Extending Classes</a></li>
        <li><a routerLink="/interfaces">Interfaces</a></li>
        <li><a routerLink="/generics">Generics</a></li>
        <li><a routerLink="/arrow-functions">Arrow Functions</a></li>
        <li><a routerLink="/modules-simple">Modules (Simple)</a></li>
        <li><a routerLink="/modules">Modules</a></li>
        <li><a routerLink="/compounder">Compounder</a></li>
        <li><a routerLink="/greeter">Greeter</a></li>
        <li><a routerLink="/calculator">Simple Calculator</a></li>
        <li><a routerLink="/calculator-jquery">Simple Calculator with jQuery</a></li>
        <li><a routerLink="/banking">Bank Accounts (classes, interfaces and generics)</a></li>
    </ul>
</body>
</html>

