<html>
<head>
    <meta charset="utf-8" />
    <title>TypeScript Demos</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" />
    <style type="text/css">
        body {
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>TypeScript Examples</h1>
    <br />
    <ul>
        <li><a href="Challenge-Questions/basic-types/index.html">Basic Types</a></li>
        <li><a href="Challenge-Questions/parameter-types/index.html">Parameter Types</a></li>
        <li><a href="Challenge-Questions/optional-default-parameters/index.html">Optional/Default Parameters</a></li>
        <li><a href="Challenge-Questions/unions-aliases-const-enums/index.html">Unions, Aliases, Const Enums</a></li>
        <li><a href="Challenge-Questions/classes/index.html">Classes</a></li>
        <li><a href="Challenge-Questions/class-extension/index.html">Extending Classes</a></li>
        <li><a href="Challenge-Questions/interfaces/index.html">Interfaces</a></li>
        <li><a href="Challenge-Questions/generics/index.html">Generics</a></li>
        <li><a href="Challenge-Questions/arrow-functions/index.html">Arrow Functions</a></li>
        <li><a href="Challenge-Questions/modules-simple/index.html">Modules (Simple)</a></li>
        <li><a href="Challenge-Questions/modules/index.html">Modules</a></li>
        <li><a href="Challenge-Questions/compounder/index.html">Compounder</a></li>
        <li><a href="Challenge-Questions/greeter/index.html">Greeter</a></li>
        <li><a href="Challenge-Questions/calculator/index.html">Simple Calculator</a></li>
        <li><a href="Challenge-Questions/calculator-jquery/index.html">Simple Calculator with jQuery</a></li>
        <li><a href="Challenge-Questions/banking/index.html">Bank Accounts (classes, interfaces and generics)</a></li>
    </ul>
</body>
</html>

