<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Using Lambdas</title>
</head>
<body>
    <div>
        <h1>Using Arrow Functions</h1>
        <div>
            <h3>Start/Stop Timer</h3>
            <br />
            <button id="startButton" class="btn btn-success" onclick="startButton()" [disabled]="!startButton">Start</button>&nbsp;&nbsp;
            <button id="stopButton" class="btn btn-danger" onclick="stopButton()">Stop</button>
            <br />
            <h1 id="timer">{{timer}}</h1>
        </div>
    </div>
</body>
</html>